@charset "UTF-8";
/* @import url(https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap); */ /* 노토산스 (Noto Sans KR)   */
@import url(https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,700&display=swap&subset=korean); /* 노토산스 (Noto Sans KR)   */
@import url(https://fonts.googleapis.com/css?family=Playfair+Display&display=swap); /* Playfair Display   */

/* normal */
@font-face {
    font-family: KelloggsSans;
    src: local(KelloggsSans-Light), url(../fonts/KelloggsSans-Light.woff) format('woff'),
        url(../fonts/KelloggsSans-Light.otf) format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: KelloggsSans;
    src: local(KelloggsSans-Regular), url(../fonts/KelloggsSans-Regular.woff) format('woff'),
        url(../fonts/KelloggsSans-Regular.otf) format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: KelloggsSans;
    src: local(KelloggsSans-Medium), url(../fonts/KelloggsSans-Medium.woff) format('woff'),
        url(../fonts/KelloggsSans-Medium.otf) format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: KelloggsSans;
    src: local(KelloggsSans-Bold), url(../fonts/KelloggsSans-Bold.woff) format('woff'),
        url(../fonts/KelloggsSans-Bold.otf) format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: KelloggsHandwritten-Regular;
    src: local(KelloggsHandwritten-Regular),
        url(/Script/Font/KelloggsHandwritten-Regular.woff) format('woff'),
        url(/Script/Font/KelloggsHandwritten-Regular.otf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Italic */
@font-face {
    font-family: KelloggsSans-Italic;
    src: local(KelloggsSans-LightItalic),
        url(/Script/Font/KelloggsSans-LightItalic.woff) format('woff'),
        url(/Script/Font/KelloggsSans-LightItalic.otf) format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: KelloggsSans-Italic;
    src: local(KelloggsSans-MediumItalic),
        url(/Script/Font/KelloggsSans-MediumItalic.woff) format('woff'),
        url(/Script/Font/KelloggsSans-MediumItalic.otf) format('truetype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: KelloggsSans-Italic;
    src: local(KelloggsSans-BoldItalic),
        url(/Script/Font/KelloggsSans-BoldItalic.woff) format('woff'),
        url(/Script/Font/KelloggsSans-BoldItalic.otf) format('truetype');
    font-weight: 700;
    font-style: italic;
}

/* KelloggsSans-Italic */
