@charset "utf-8";

/*reset*/
html,
body,
div,
p,
span,
strong,
b,
em,
iframe,
pre,
h1,
h2,
h3,
h4,
h5,
h6,
img,
dl,
dt,
dd,
fieldset,
form,
legend,
label,
table,
caption,
thead,
tbody,
tfoot,
tr,
th,
td,
ul,
ol,
li,
a,
input,
select,
textarea {
    margin: 0;
    padding: 0;
}

body {
    font-family: KelloggsSans, 'Noto Sans KR', AppleGothic, Sans-serif;
    color: #2b292d;
    -webkit-text-size-adjust: 100%;
}

ul,
li {
    list-style: none;
}
em,
address {
    font-style: normal;
}
a {
    color: #333;
    text-decoration: none;
}

img {
    vertical-align: top;
}

.clear::after {
    content: '';
    display: block;
    clear: both;
}

/* header,
div,
footer,
aside,
section,
nav,
ul,
li {
    border: 1px solid red;
} */
.blind {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    width: 1px;
    height: 1px;
}
